# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
src/utils/__pycache__/

# Virtual environment
venv/
env/
scraper_env_windows/
.scraper_env_windows/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Ignore everything in build/ and dist/
build/
dist/

# Ignore .spec files
*.spec